@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: hsl(221, 100%, 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.results{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    width: 550px;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    border-radius:  21px;
}
.average-score{
    background-color: hsla(256, 72%, 46%, 1.2);
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px;
}
.result{
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}
.score{
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsla(241, 81%, 54%, 0.6);
    border-style: solid;
    border-color:  hsla(241, 81%, 54%, 0.2);
    border-radius: 50%;
}
.score h1{
    color: hsl(0, 0%, 100%);
    font-size: 45px;
    font-weight: 900;
}
.score p{
    color: hsl(252, 100%, 67%);
}
.remarks{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}
.remarks h3{
    color: hsl(0, 0%, 100%);
    padding-bottom: 12px;
}
.remarks p{
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 14px;
    text-align: center;
}
#results-container{
    width: 400px;
    padding: 21px;
}
.results-summary{
    font-size: 16px;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
    padding-bottom: 20px;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
}
#results-container .reaction{
    display: flex;
    background-color: hsla(0, 100%, 67%, 0.1);
    margin-bottom: 14px;
    padding: 12px;
    border-radius: 5px;
    color: hsl(0, 100%, 67%);
}
#results-container .reaction .exact-score{
    padding-left: 60px;
}
#results-container .memory{
    display: flex;
    background-color: hsla(39, 100%, 56%, 0.1);
    margin-bottom: 14px;
    padding: 12px;
    border-radius: 5px;
    color: hsl(39, 100%, 56%);
}
#results-container .memory .exact-score{
    padding-left: 60px;
}
#results-container .verbal{
    display: flex;
    background-color: hsla(166, 100%, 37%, 0.1);
    margin-bottom: 14px;
    padding: 12px;
    border-radius: 5px;
    color: hsl(166, 100%, 37%);
}
#results-container .verbal .exact-score{
    padding-left: 70px;
}
#results-container .visual{
    display: flex;
    background-color: hsla(234, 85%, 45%, 0.1);
    margin-bottom: 14px;
    padding: 12px;
    border-radius: 5px;
    color: hsl(234, 85%, 45%);
}
#results-container .visual .exact-score{
    padding-left: 70px;
}
.continue-btn{
    width: 250px;
    padding: 12px;
    border-style: none;
    border-radius: 20px;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.continue-btn:hover{
    background-color: hsla(256, 72%, 46%, 1.2);
}
.exact-score{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    text-align: end;
    color: hsl(224, 30%, 27%);
    font-weight: 500;
    font-size: 14px;
}
.exact-score p{
    color: hsla(224, 30%, 27%, 0.6);
}