@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-container{
    margin-top: 50px;
    background-color:  hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 12px;
}
.user-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 18px;
}
.profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.username{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 9px;
}
.residence{
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
}
.description{
    color: hsl(0, 0%, 100%);
    font-size: 15px;
}
.social-media button{
    width: 300px;
    height: 39px;
    background-color: hsl(0, 0%, 20%);
    margin-bottom: 12px;
    border: 0;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}
.social-media button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
.attribution{
    color: hsl(0, 0%, 100%);
}